<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h3>图书列表</h3>
<table>
    <thead>
    <th>
    <td>id</td>
    <td>name</td>
    <td>description</td>
    <td>operation</td>
    </th>
    </thead>
    <tbody>
    <tr th:each="book: ${bookPage.content}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.name}"></td>
        <td th:text="${book.description}"></td>
        <td><a type="button" th:href="@{/apply/6/{bookId}(bookId=${book.id})}">申请借阅</a></td>
    </tr>
    </tbody>
</table>
<p>
    <!--<span th:text="共{totalNum}(totalNum=${userPage.total}})"></span>-->
    <span th:text="${'共'+bookPage.getTotalPages()+'页'}"></span>
    <span th:text="${'共'+bookPage.getTotalElements()+'条'}"></span>
    <a>上一页</a><a th:href="@{/book}">下一页</a>
</p>
</body>
</html>