<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h3>添加图书</h3>

<form action="/user" th:action="@{/book}" method="post">
    <span>书名</span><input name="name" value="Kotlin Something"/>
    <span>作者</span><input name="author" value="Tobby"/>
    <span>出版社</span><input name="press" value="Pearson"/>
    <span>分类</span>
    <select name="categoryId">
        <option th:each="category: ${categoryList}" th:value="${category.id}" th:text="${category.name}"></option>
    </select>
    <span>简介</span><input type="text" name="description" value="Kotlin Something"/>
    <!--<form action="/user" th:action="@{/department}" th:object="${user}" method="post">-->
    <!--<span>部门</span><input name="name" th:field="*{name}"/>-->
    <!--<span>部门简介</span><input name="description" th:field="*{description}"/>-->
    <!--<span>职位</span><input name="position" th:field="*{position}" value="java开发"/>-->
    <input type="submit" name="确认"/>
</form>
</body>
</html>