spring:
  data:
    jpa:
      repositories:
        enabled: true
  datasource:
    url: jdbc:mysql://localhost:3306/houhan_library_test?useUnicode=true&characterEncoding=UTF-8&connectTimeout=60000&socketTimeout=60000&autoReconnect=true&autoReconnectForPools=true&failOverReadOnly=false
#    url: jdbc:mysql://www.tufatao.com:3306/houhan_library?useUnicode=true&characterEncoding=UTF-8&connectTimeout=60000&socketTimeout=60000&autoReconnect=true&autoReconnectForPools=true&failOverReadOnly=false
    username: libraryUser
    password: pwofHouhanlibrary
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    generate-ddl: true
  thymeleaf:
    cache: true
