spring:
  data:
    jpa:
      repositories:
        enabled: true
  datasource:
    url: jdbc:mysql://localhost:3306/houhan_library_test?useUnicode=true&characterEncoding=UTF-8&connectTimeout=60000&socketTimeout=60000&autoReconnect=true&autoReconnectForPools=true&failOverReadOnly=false
#    url: jdbc:mysql://192.168.0.197:3306/houhan_library?useUnicode=true&characterEncoding=UTF-8&connectTimeout=60000&socketTimeout=60000&autoReconnect=true&autoReconnectForPools=true&failOverReadOnly=false
    username: libraryUser
    password: pwofHouhanlibrary
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    generate-ddl: true
    # disable cache for dev
  thymeleaf:
    cache: false
  application:
    name: houhan-library
#    开启AOP
  aop:
    auto: true
    # basic security
security:
  basic:
    enabled: true

#日志配置
logging:
  file: spring-dev.log
  level: debug
#  外部日志配置
#  config: classpath:logback-spring.xml

