<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h3>借书列表</h3>
<table>
    <thead>
    <th>
    <td>id</td>
    <td>user</td>
    <td>book</td>
    </th>
    </thead>
    <tbody>
    <tr th:each="borrow: ${borrowList}">
        <td th:text="${borrow.id}"></td>
        <td th:text="${borrow.user.name}"></td>
        <td th:text="${borrow.book.name}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>