<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script th:src="@{js/jquery-1.9.1.min.js}"></script>

    <script type="javascript">
        function pass(applyId) {
//        alert(apply.book.name);
            alert(applyId);
        }
    </script>
</head>
<body>
<h3>申请列表</h3>
<table>
    <thead>
    <th>
    <td>id</td>
    <td>user</td>
    <td>book</td>
    <td>status</td>
    <td>type</td>
    <td>startTime</td>
    <td>operation</td>
    </th>
    </thead>
    <tbody>
    <tr th:each="apply: ${applyPage}">
        <td th:text="${apply.id}"></td>
        <td th:text="${apply.user.name}"></td>
        <td th:text="${apply.book.name}"></td>
        <td th:text="${apply.status}"></td>
        <td th:text="${apply.type}"></td>
        <td th:text="${apply.createTime}"></td>
        <td>
            <a type="button" th:onclick="'javascript:pass('+${apply.book.id}+');'">PASSED</a>
            <a type="button" href="#">REJECT</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>