<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h3>申请列表</h3>
<table>
    <thead>
    <th>
    <td>id</td>
    <td>user</td>
    <td>book</td>
    <td>status</td>
    <td>type</td>
    <td>startTime</td>
    </th>
    </thead>
    <tbody>
    <tr th:each="apply: ${applyRecordList}">
        <td th:text="${apply.id}"></td>
        <td th:text="${apply.user.name}"></td>
        <td th:text="${apply.book.name}"></td>
        <td th:text="${apply.status}"></td>
        <td th:text="${apply.type}"></td>
        <td th:text="${apply.createTime}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>