<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>用户列表</title>
</head>
<body>
<h3>用户列表</h3>
<table>
    <thead>
    <th>
    <td>id</td>
    <td>name</td>
    <td>department</td>
    </th>
    </thead>
    <tbody>
    <tr th:each="user: ${userPage.content}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.department.name}"></td>
    </tr>
    </tbody>
</table>
<p>
    <!--<span th:text="共{totalNum}(totalNum=${userPage.total}})"></span>-->
    <span th:text="${'共'+userPage.getTotalPages()+'页'}"></span>
    <span th:text="${'共'+userPage.getTotalElements()+'条'}"></span>
    <a>上一页</a><a th:href="@{/user}">下一页</a>
</p>
</body>
</html>