<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h3>图书类目列表</h3>
<table>
    <thead>
    <th>
    <td>id</td>
    <td>name</td>
    <td>description</td>
    </th>
    </thead>
    <tbody>
    <tr th:each="category: ${categoryList}">
        <td th:text="${category.id}"></td>
        <td th:text="${category.name}"></td>
        <td th:text="${category.description}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>